@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:wght@300&display=swap');


* {
  color: white;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #333333;
}

h1 {
  font-size: 2rem;
  font-family: 'Patua One', cursive;
  color: lime;
}

a {
  font-size: 1.2rem;
}

a:hover {
  font-size: 1.5rem;
  color: lime;
}

b:hover {
  color: white;
}

section {
  display: flex;
}

#container-1 {
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subcontainer-1-1 {
  height: 20%;
}

#subcontainer-1-3 {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#subcontainer-1-3 > a {
  flex: 1;
  align-self: center;
  width: 100%;
  text-decoration: none;
}

a > b {
  font-size: 1.5rem;
  color: lime;
}

#profile {
  height: 100%;
  align-self: center;
  border-radius: 50%;
  border: 3px white solid;
}
